/* ====== SECCION INFO TOUR PAGINA ====== */

.icon-grid i {
    font-size: 50px;
    color: black;
    padding: 5px;
}

.icon-grid p {
    font-weight: 500;
}

.image-grid img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.image-grid img:hover {
    transform: scale(1.1);
}

.no-bold{
    font-weight: normal !important;
}

.semi-bold {
    font-weight: 500 !important;
}

.list-notas li{
    font-size: 14px !important;
}

/* ----- TITULO DESIGN ----- */
.title-info-tour{
    position: relative;
    display: inline-block;
}

.title-info-tour::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    top: 50%;
    left: -60%;
    margin-top: -1px;
    background: #FF8903;
}

.title-info-tour::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    top: 50%;
    right: -60%;
    margin-top: -1px;
    background: #FF8903;
}
/* ----- NO INLCUYE ----- */
.icon-incluye i{
    font-size: 50px;
    color: #FF8903;
    padding: 5px;
}

.horario-icons i{
    font-size: 80px;
    color: #FF8903;
    padding: 5px;
}

.horario-icons .act-icon{
    font-size: 80px;
    color: #ffff;
    padding: 5px;
}

.icon-item {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 105px;
}

/* ----- SI INCLUYE ----- */
.img-foto-incluye {
    max-width: 100%;
    height: auto;
}

.item-comida li{
    font-size: 18px;
    color: black;
}

.mini-title{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    margin: 0;
}

.mini-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    background-color: var(--secondary);
}

